<!DOCTYPE html>
<html>
    <head>
        <title>
            Add Student
        </title>
    </head>
    <body>
        <h1>
            Add a Student
        </h1>
        <form action="/student/create" method="POST" id="create-form">
            <div>
                <label>Roll Number:</label>
                <input type="text" name="roll" required />
            </div>
            <div>
                <label>First Name:</label>
                <input type="text" name="f_name" required />
            </div>
            <div>
                <label>Last Name:</label>
                <input type="text" name="l_name" />
            </div>
            <div>
                <label>Select Courses: </label>
                {% for course in courses %}
                <input type="checkbox" name="courses" value={{ course["course_id"] }} />
                <label>{{course["course_name"]}}</label>
                {% endfor %}
            </div>
            <div>
                <input type="submit" value = "Submit">
            </div>
            </form>
    </body>
</html>