<!DOCTYPE html>
<html>
    <head>
        <title>
            Update Student
        </title>
    </head>
    <body>
        <h1>
            Student Details
        </h1>
        <table id = "personal-details">
        <tr>
            <th>Roll Number</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>roll-no-of-student</td>
            <td>first-name-of-student</td>
            <td>last-name-of-student</td>
        </tr>
        </table>