<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add to the DataBase</title>

</head>
<body>
    <h1>Enter the details in the below form:</h1>
    <form method="post" action = "/delete">
        <label>Enter Name: </label>
        <input type="text" name="Name">
        <label>Enter the age:</label>
        <input type="text" name="age">
        <label>Enter the Email Address: </label>
        <input type="text" name="email" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>